@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Index</title>
</head>
<body>
    <div>
        hello,world
        version 1,this index file
        version 2, 2015.7.5
    </div>
</body>
</html>
